.env
.pylintrc
.vscode/
venv/
__pycache__/
admins.json
plan.txt
app.log
added_goods.json
button_callbacks.json
delivery_zones.json
delivery_zones.html
button_callbacks.json
added_goods.json
sharing_data.json
